@charset "utf-8";
/* CSS Document */

.redButton{
 background:url("images/red.png") repeat !important;

 color:#FFF !important;
	
	}

.greenButton

{
	
 background:url("images/green.png") repeat !important;
 color:#FFF !important;

}

.ui-icon-ic-invoice:after {
	background-image: url("images/in_icon.png") !important;
	background-size: 18px 18px;
}

.blueButton

{
	
 background:#0B5480!important;
border-color:#1f1f1f;
color:#FFFFFF !important;
text-shadow:0 1px 0 #111 !important;
font-weight:normal !important;
}

.orangeButton

{
	
background:#CB781D !important;
color:#FFFFFF !important;
font-size: 18px !important;
font-weight:normal !important;
}

.grayButton

{
	
background:#CB781D !important;
border-color:#1f1f1f;
color:#FFFFFF !important;
text-shadow:0 1px 0 #111 !important;
font-weight:normal !important;
}

.wineButton

{
	
 background:#107BBC !important;

border-color:#1f1f1f;
color:#FFFFFF !important;
text-shadow:0 1px 0 #111 !important;
font-weight:normal !important;
}

.headerButton {
    float: left;
    margin-right: 5px!important;
}

.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -5.9em;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}
/* Custom widths are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch {
    width: 8.875em;
}
.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
    padding-left: 7em;
    width: 1.875em;
}
@media (min-width: 28em) {
    /*Repeated from rule .ui-flipswitch above*/
    .ui-field-contain > label + .custom-size-flipswitch.ui-flipswitch {
        width: 1.875em;
    }
}

.ul_class

{}

.items_class

{}

.error
{
	
	color:#FF0000;
	font-size:15px !important;
	font-weight: bold !important;
	text-align:center !important;
	
}

/* Left transition */
li.left {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(-100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(-100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(-100%);
    transition: transform 250ms ease;
    transform: translateX(-100%);
}
/* Right transition */
li.right {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(100%);
    transition: transform 250ms ease;
    transform: translateX(100%);
}
/* Border bottom for the previous button during the transition*/
li.left a.ui-btn,
li.right a.ui-btn {
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}
li a.ui-btn.border-bottom {
    border-bottom-width: 1px;
}
/* Hide the delete button on touch devices */
ul.touch li.ui-li-has-alt a.delete {
    display: none;
}
ul.touch li.ui-li-has-alt a.ui-btn {
    margin-right:0;
}
/* Styling for the popup */
#confirm p {
    text-align: center;
    font-size: inherit;
    margin-bottom: .75em;
}

#preview 
{

width: 100%; max-width: 150px;
background:#FFFFFF !important;
border-color:#000000;

    border: 2px solid;

          
width:350px;
     height:150px;
			
}
			#preview img {
				width: 100%;
			}
			.hiddenfile {
			 width: 0px;
			 height: 0px;
			 overflow: hidden;
			}